PORT=5000

JWT_SECRET=troque_esta_chave
JWT_EXPIRES_IN=1d

# Supabase
SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxx.supabase.co
SUPABASE_KEY=sua_service_role_key

# Banco de dados (PostgreSQL via Supabase)
DATABASE_URL=postgresql://postgres:sua_senha@db.xxxxxxxxxxxxxxxxxxx.supabase.co:5432/postgres

# IA (Gemini)
GOOGLE_API_KEY=sua_chave_google
